@import "../utils/mixins";
@import "../utils/placeholders";

.modal-backdrop.in {
  opacity: 0.8;
}

/*----- Scroll bar style -----*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $primary;
}
/* /scrollbar */

html, body {
  min-height: 100%;
}

a,
button,
input {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a {
  color: #3eaefa;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

//.row {
//  margin-left: 0;
//  margin-right: 0;
//}

/* Headers */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  color: #000;
}

a:hover {
  opacity: 0.8;
  color: #000;
  text-decoration: none;
}

$i: 50;
$j: 0;
$b: 10;

/* font sizes */
@while $b <= $i {
  .f-#{$b} {
    font-size: #{$b}px;
  }
  $b: $b + 2;
}

/* padding top */
@while $j <= $i {
  .pt-#{$j} {
    padding-top: #{$j}px;
  }
  $j: $j + 5;
}

/* padding bottom */
$i: 30;
$j: 0;
@while $j <= $i {
  .pb-#{$j} {
    padding-bottom: #{$j}px;
  }
  $j: $j + 5;
}

/* padding left */
$i: 30;
$j: 0;
@while $j <= $i {
  .pl-#{$j} {
    padding-left: #{$j}px;
  }
  $j: $j + 5;
}

/* padding right */
$i: 30;
$j: 0;
@while $j <= $i {
  .pr-#{$j} {
    padding-right: #{$j}px;
  }
  $j: $j + 5;
}

/* padding a */
$i: 30;
$j: 0;
@while $j <= $i {
  .pd-#{$j} {
    padding: #{$j}px;
  }
  $j: $j + 5;
}

/* padding both */
$i: 30;
$j: 0;
@while $j <= $i {
  .pd-both-#{$j} {
    padding-left: #{$j}px;
    padding-right: #{$j}px;
  }
  $j: $j + 5;
}

/* Margins */

/* margin top */
$i: 30;
$j: 0;
@while $j <= $i {
  .mt-#{$j} {
    margin-top: #{$j}px;
  }
  $j: $j + 5;
}

.mt-0-i {
  margin-top: 0 !important;
}

/* margin bottom */
$i: 30;
$j: 0;
@while $j <= $i {
  .mb-#{$j} {
    margin-bottom: #{$j}px;
  }
  $j: $j + 5;
}

.mb-0-i {
  margin-bottom: 0px !important;
}

.mb-20-i {
  margin-bottom: 20px !important;
}

/* margin left */
$i: 30;
$j: 0;
@while $j <= $i {
  .ml-#{$j} {
    margin-left: #{$j}px;
  }
  $j: $j + 5;
}

/* margin right */
$i: 40;
$j: 0;
@while $j <= $i {
  .mr-#{$j} {
    margin-right: #{$j}px;
  }
  $j: $j + 5;
}

/* margin */
$i: 30;
$j: 0;
@while $j <= $i {
  .mg-#{$j} {
    margin: #{$j}px;
  }
  $j: $j + 5;
}

/* margin auto */
.mg-auto {
  margin: auto;
}

/* Z-index */
.zi-1 {
  z-index: 1;
}

/* Height */
$i: 30;
$j: 0;
@while $j <= $i {
  .ht-#{$j} {
    height: #{$j}px;
  }
  $j: $j + 5;
}

/* Float */
.fl-none {
  float: none;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

/* Display */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-table {
  display: table;
}

.d-ib {
  display: inline-block;
}

.d-if {
  display: inline-flex;
}

.d-fl {
  display: flex !important;
}

.v-hidden {
  visibility: hidden;
}

.v-show {
  visibility: visible;
}

/* Text alignment */
.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

/* Letter spacing */
.ls-3 {
  letter-spacing: 3px;
}

/* Clear */
.clear {
  clear: both;
}

.clear-l {
  clear: left;
}

/* Custom classes */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

/* Cursor */
.cr-pt {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.full-width-i {
  width: 100% !important;
}

.input-group input[type="focus"]:focus, .input-group input[type="password"]:focus, .input-group input[type="email"]:focus {
  outline: none;
}

.disabled {
  opacity: 0.8;
}

.black {
  background: #000 !important;
}

.red {
  background: #F00 !important;
}

.pink {
  background: pink !important;
}

.orange {
  background: orange !important;
}

.gray {
  background: gray !important;
}

.blue {
  background: blue !important;
}

/* Resonsive */
/*Layout for Mobile(lanscape)*/
@media handheld, only screen and (max-width: 767px) {

}

/*Layout for Mobile(portrait)*/
@media only screen and (max-width: 479px) {

}

/*Small Moblie Screen*/
@media only screen and (max-width: 320px) {

}
