<!-- Content -->


    <div class="content-wrap">
        <div class="container clearfix product-details">
            <div class="single-product">
                <div class="product">
                    <div class="col-md-5 col-sm-5 col-xs-12 prod-gallery pl-0">
                        <!-- main slider carousel -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="myCarousel" class="carousel slide">
                                    <!-- main slider carousel items -->
                                    <div class="carousel-inner">
                                        <div ng-repeat="prodImage in prodDetails.designPics" class="item"
                                             ng-class="$index == 0 ? 'active' : ''" data-slide-number="{{$index}}">
                                            <img ng-if="prodImage"
                                                 ng-src="{{imgBase}}{{prodImage.designPic.split('&')[0]}}"
                                                 class="img-responsive">
                                        </div>
                                    </div>
                                    <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>-->
                                    <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>-->
                                </div>
                            </div>
                        </div>

                        <!-- thumb navigation carousel -->
                        <div class="col-sm-12" id="slider-thumbs">
                            <!-- thumb navigation carousel items -->
                            <ul class="list-inline">
                                <li ng-repeat="prodImage in prodDetails.designPics">
                                    <a id="carousel-selector-{{$index}}" ng-class="$index == 0 ? 'selected' : ''"
                                       ng-click="changeImage($index)">
                                        <img ng-if="prodImage"
                                             ng-src="{{imgBase}}{{prodImage.imagePicThumbnail.split('&')[0]}}"
                                             class="img-responsive">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-7 col-sm-7 col-xs-12 product-desc pr-0">
                        <!--<div class="product-brand">-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-12 pl-0 block">-->
                        <!--<img src="http://thestylist.in/stylist/file/download.do?id={{prodDetails.design.userLogoUrl}}" alt="{{prodDetails.design.usersBrandName}}">-->
                        <!--</div>-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-12 pl-0 block">-->
                        <!--<img src="http://thestylist.in/stylist/file/download.do?id={{prodDetails.design.usersBrandPicUrl}}" alt="{{prodDetails.design.usersBrandName}}">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="clear"></div>-->
                        <div class="product-name" ng-bind="prodDetails.design.designName"></div>
                        <!-- Product Single - Price
                        ============================================= -->
                        <div class="product-price">
                            <span>Price:</span>
                            <ins>₹<span ng-bind="prodDetails.design.priceMin"></span>
                                <!--₹<span ng-bind="prodDetails.design.priceMax"></span>-->
                            </ins>
                        </div><!-- Product Single - Price End -->

                        <div class="clear"></div>
                        <div class="line"></div>

                        <div class="pr-color">
                            <div class="head">
                                <p class="mb-10">Select Color</p>
                            </div>
                            <div class="body">
                                <div class="col-md-1 col-sm-1 col-xs-2 color-block"
                                     ng-repeat="prodColor in prodDetails.designColourAndSizes"
                                     ng-click="selectProdColor(prodColor.productNewId,prodColor.price,prodColor.colourName,prodColor.colourHexCode);changeImage($index)"
                                     id="colorBlock-{{prodColor.productNewId}}">
                                    <img ng-if="prodColor"
                                         ng-src="{{imgBase}}{{prodColor.productImageUrl.split('&')[0]}}"
                                         alt="">
                                    <!--<div class="fill" style="background: {{prodColor.colourHexCode}}"></div>-->
                                    <div class="selected-overlay">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 selected-color" ng-show="selectedColor">
                                    Selected Color :
                                    <i class="fa fa-circle" aria-hidden="true" style="color: {{colourHexCode}}"></i>
                                    <span ng-bind="selectedColor"></span>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="select-size">
                            <div class="line"></div>
                            <div class="head">
                                <p class="mb-10">Select Size</p>
                            </div>
                            <div class="body">
                                <ul ng-repeat="prodColorAndSize in prodDetails.designColourAndSizes"
                                    class="color-hide color-{{prodColorAndSize.productNewId}}">
                                    <li ng-repeat="prodSize in prodColorAndSize.sizeAndTotalAvailable | orderBy: 'productSizeId'"
                                        class="col-md-1 col-sm-1 col-xs-2 block"
                                        ng-click="selectProdSize(prodColorAndSize.productNewId,prodSize.productSizeId,prodSize.sizeName,prodSize.productPrice)">
                                        <div class="size"
                                             id="prodSize-{{prodColorAndSize.productNewId}}-{{prodSize.productSizeId}}"
                                             ng-bind="prodSize.sizeName"></div>
                                    </li>
                                </ul>
                                <div class="col-md-4 col-sm-4 col-xs-12 selected-size" ng-show="selectedSize">
                                    Selected Size :
                                    <span ng-bind="selectedSize"></span>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="line"></div>

                        <!-- Product Single - Quantity & Cart Button
                        ============================================= -->
                        <!--<div class="quantity clearfix">-->
                        <!--<input type="button" value="-" class="minus" ng-click="minus($index+'-'+cartList.designId,cartList.priceMin)">-->
                        <!--<input type="text" id="quantity-{{$index}}-{{cartList.designId}}" name="quantity" value="1" title="Qty"-->
                        <!--class="qty" />-->
                        <!--<input type="button" value="+" class="plus" ng-click="plus($index+'-'+cartList.designId,cartList.priceMin)">-->
                        <!--</div>-->

                        <a id="addToCart" ng-controller="AddToCartController"
                           ng-click="addToCart(prodDetails.design.designId)"
                           class="add-to-cart button nomargin"><i
                                class="icon-shopping-cart"></i><span> Add to Cart <i
                                class="fa fa-spinner fa-pulse loader atc-loader"></i></span></a>
                        <button id="sendInquiry" ng-controller="SendInquiryController"
                                ng-click="sendInquiry(prodDetails.design.designId)"
                                class="add-to-cart button nomargin">
                            <i class="icon-envelope-alt"></i><span> Send Enquiry</span>
                        </button>
                        <!-- Product Single - Quantity & Cart Button End -->

                        <div class="clear"></div>
                        <div class="line"></div>

                        <!-- Product Single - Short Description -->
                        <div class="pr-desc">
                            <div class="head">
                                <p class="mb-10">Description</p>
                            </div>
                            <div class="body">
                                <p class="mb-0" ng-bind="prodDetails.design.designNote"></p>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="line"></div>

                        <!-- Product Single - Meta -->
                        <div class="head">
                            <p class="mb-10">Details</p>
                        </div>
                        <div class="panel panel-default product-meta">
                            <div class="panel-body">
                                <!--<span class="posted_in">-->
                                <!--Brand:-->
                                <!--<span ng-bind="prodDetails.design.usersBrandName"></span>-->
                                <!--</span>-->
                                <div class="product-design-code" ng-bind="prodDetails.design.designCode"></div>
                                <div class="product-category">
                                    Category: <span ng-bind="prodDetails.design.designCategoryName"></span>
                                </div>
                                <div class="product-category">
                                    Wash: <span>Dry Clean Wash</span>
                                </div>
                                <div class="product-category">
                                    Fabric: <span ng-bind="prodFebrics"></span>
                                </div>
                            </div>
                        </div><!-- Product Single - Meta End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->