<footer id="footer" class="dark">
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half">
                Copyrights &copy; 2017 All Rights Reserved by <a target="_blank" href="http://purplestylelabs.com/">Purple
                Style Labs</a><br>
                <div class="copyright-links">
                    <a href="#terms">Terms of Use</a> / <a href="#policy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->