<div class="uk-slidenav-position" data-uk-slideshow="{kenburns:true, autoplay:true}">
    <img src="images/1.png" alt="">
</div>

<!-- Content
============================================= -->
<section id="content" class="home-contact-us-content">
    <div class="content-wrap home-contact-us-wrap">
        <!-- Apply Form -->
        <div class="section nomargin home-contact-us apply-page">
            <div class="container clearfix" id="contact">
                <div class="heading-block title-center page-section" id="aboutus" style="align:justify">
                    <h3 style="text-align:center;">Registration Form</h3>
                </div>

                <form method="post" enctype="multipart/form-data" class="nobottommargin" id="regiForm" name="regiForm">
                    <div class="postcontent nobottommargin block-left">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : regiForm.fullName.$invalid && !regiForm.fullName.$pristine }">
                                <label for="regiForm-fullName">Mom's full name
                                    <small>*</small>
                                </label>
                                <input type="text" id="regiForm-fullName" name="fullName"
                                       class="sm-form-control form-control" required/>
                                <!--<p ng-show="regiForm.fullName.$invalid && !regiForm.fullName.$pristine"-->
                                <!--class="help-block">Mom's name is required.</p>-->
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : regiForm.dob.$invalid && !regiForm.dob.$pristine }">
                                <label for="regiForm-dob" class="capitalize t600">Mom's Date Of Birth
                                    <small>*</small>
                                </label>
                                <div id="date" class="input-append" datetimez ng-model="regiData.dob">
                                    <input class="sm-form-control form-control" data-format="dd/MM/yyyy" type="text"
                                           id="regiForm-dob" name="dob" placeholder="dd/mm/yyyy" required/>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="regiForm-mom-measurements">Height<span style="color:black">(MOM)</span>
                                    <small>*</small>
                                </label>
                                <input type="text" id="regiForm-mom-measurements" class="sm-form-control form-control"
                                       ng-model="heightmom" ng-keyup="heightMom()"
                                       required/>
                                <select id="momMeasur" class="gender-contact" ng-model="heightMeasurement"
                                        ng-init="heightMeasurement='inch'" ng-change="heightMom()">
                                    <option value="inch">inch</option>
                                    <option value="cms">cms</option>
                                </select>
                                <input type="hidden" name="measurements" id="measurements">
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : regiForm.phone.$invalid && !regiForm.phone.$pristine }">
                                <label for="regiForm-phone" class="capitalize t600">Phone Number
                                    <small>*</small>
                                </label>
                                <input type="tel" id="regiForm-phone" name="phone"
                                       class="sm-form-control input-phone" ng-maxlength="10"
                                       placeholder="Mobile No." ng-model="regiData.phone" required/>
                                <p ng-show="regiForm.phone.$invalid && !regiForm.phone.$pristine"
                                   class="help-block">Enter a valid phone number</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : regiForm.email.$invalid && !regiForm.email.$pristine }">
                                <label for="regiForm-email">Email
                                    <small>*</small>
                                </label>
                                <input type="email" id="regiForm-email" name="email" size="8" ng-model="regiData.email"
                                       class="sm-form-control" required/>
                                <p ng-show="regiForm.email.$invalid && !regiForm.email.$pristine" class="help-block">
                                    Enter a
                                    valid email</p>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 8px">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : regiForm.address.$invalid && !regiForm.address.$pristine }">
                                <label for="regiForm-address">Address
                                    <small>*</small>
                                </label>
                                <input type="text" id="regiForm-address" name="address"
                                       ng-model="regiData.address" class="sm-form-control form-control"
                                       required/>
                                <p ng-show="regiForm.address.$invalid && !regiForm.address.$pristine"
                                   class="help-block">Your Address is required.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 8px;">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : regiForm.city.$invalid && !regiForm.city.$pristine }">
                                <label for="regiForm-city">City*</label></br>
                                <select type="text" id="regiForm-city" name="city" ng-model="regiData.city"
                                        class="sm-form-control form-control" required>
                                    <option value="">---Please select---</option> <!-- not selected / blank option -->
                                    <option value="New Delhi">New Delhi</option> <!-- interpolation -->
                                    <option value="Gurugram">Gurugram</option>
                                    <option value="Noida">Noida</option>
                                    <option value="Greater Noida">Greater Noida</option>
                                    <option value="Faridabad">Faridabad</option>
                                    <option value="Ghaziabad">Ghaziabad</option>
                                </select>
                                <p ng-show="regiForm.city.$invalid && !regiForm.city.$pristine"
                                   class="help-block">City is required.</p>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 9px">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : regiForm.uploadMomImage.$invalid && !regiForm.uploadMomImage.$pristine }"
                                 style="margin-top: -16px">
                                <label for="regiForm-upload-mom-image">Upload Image <span
                                    style="color:black;">(MOM)*</span></label>
                                <input type="file" id="regiForm-upload-mom-image" name="profilePic"
                                       ng-model="regiData.uploadMomImage" class="sm-form-control form-control"
                                       required/>
                                <p ng-show="regiForm.uploadMomImage.$invalid && !regiForm.uploadMomImage.$pristine"
                                   class="help-block">Image required.</p>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar col_last nobottommargin block-right">
                        <div style="margin-bottom: 30px;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : regiForm.ChildName.$invalid && !regiForm.ChildName.$pristine }">
                                    <label for="regiForm-ChildName">Child's full name
                                        <small>*</small>
                                    </label>
                                    <input type="text" id="regiForm-ChildName" name="child.fullName"
                                           ng-model="regiData.child.fullName"
                                           class="sm-form-control form-control" required/>
                                    <p ng-show="regiForm.ChildName.$invalid && !regiForm.ChildName.$pristine"
                                       class="help-block">Your Child's name is required.</p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : regiForm.childdob.$invalid && !regiForm.childdob.$pristine }">
                                    <label for="regiForm-childdob" class="capitalize t600">Child's Date Of Birth
                                        <small>*</small>
                                    </label>
                                    <div id="childDate" class="input-append" datetimez ng-model="regiData.child.dob">
                                        <input class="sm-form-control form-control" data-format="dd/MM/yyyy" type="text"
                                               id="regiForm-childdob" name="child.dob" placeholder="dd/mm/yyyy"
                                               required/>
                                        <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="regiForm-mom-measurements">Height<span
                                        style="color:black">(Child)</span>
                                        <small>*</small>
                                    </label>
                                    <input type="text" id="regiForm-child-measurements"
                                           class="sm-form-control form-control" ng-model="heightkid"
                                           ng-keyup="heightKid()"
                                           required/>
                                    <select id="kidMeasur" class="gender-contact" ng-model="kidheightMeasurement"
                                            ng-init="kidheightMeasurement='inch'" ng-change="heightKid()">
                                        <option value="inch">inch</option>
                                        <option value="cms">cms</option>
                                    </select>
                                    <input type="hidden" name="child.measurements" id="child-measurements">
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : regiForm.child.gender.$invalid && !regiForm.child.gender.$pristine }">
                                    <label>
                                        Is your child
                                        <small>*</small>
                                    </label>
                                    <div class="gender-wrapper">
                                        <input type="radio" id="male" name="child.gender"
                                               ng-model="regiData.child.gender"
                                               value="Male" required>
                                        <label for="male">Prince</label>
                                        <input type="radio" id="female" name="child.gender"
                                               ng-model="regiData.child.gender"
                                               value="Female">
                                        <label for="female">Princess</label>
                                    </div>
                                    <p ng-show="regiForm.child.gender.$invalid && !regiForm.child.gender.$pristine"
                                       class="help-block">Select your gender.</p>
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="col-md-12 col-sm-12 col-xs-12 has-error"
                                 style="padding: 0px 0px 9px; line-height:2 ;margin-top:-15px;">
                                <label style="margin-bottom: -2px;width: 100%;">Tell us about
                                    your child's talent*</label>
                                <div class="regi-form-table required" style="width:auto;margin-bottom: 10px;">
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox" value="Dancing"
                                                                                   ng-checked="selection.indexOf('Dancing') > -1"
                                                                                   ng-click="talentsSelection('Dancing')">Dancing
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox" value="Singing"
                                                                                   ng-checked="selection.indexOf('Singing') > -1"
                                                                                   ng-click="talentsSelection('Singing')">Singing
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox"
                                                                                   value="Musical Instrument"
                                                                                   ng-checked="selection.indexOf('Musical Instrument') > -1"
                                                                                   ng-click="talentsSelection('Musical Instrument')">Musical
                                        Instrument
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox" value="Mimicking"
                                                                                   ng-checked="selection.indexOf('Mimicking') > -1"
                                                                                   ng-click="talentsSelection('Mimicking')">Mimicking
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox" value="Gymnastics"
                                                                                   ng-checked="selection.indexOf('Gymnastics') > -1"
                                                                                   ng-click="talentsSelection('Gymnastics')">Gymnastics
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox" value="Juggling"
                                                                                   ng-checked="selection.indexOf('Juggling') > -1"
                                                                                   ng-click="talentsSelection('Juggling')">Juggling
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox" value="Styling"
                                                                                   ng-checked="selection.indexOf('Styling') > -1"
                                                                                   ng-click="talentsSelection('Styling')">Styling
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox" value="Arts/Craft"
                                                                                   ng-checked="selection.indexOf('Arts/Craft') > -1"
                                                                                   ng-click="talentsSelection('Arts/Craft')">Arts/Craft
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox"
                                                                                   value="Skipping Routines"
                                                                                   ng-checked="selection.indexOf('Skipping Routines') > -1"
                                                                                   ng-click="talentsSelection('Skipping Routines')">Skipping
                                        Routines
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6"><input type="checkbox"
                                                                                   ng-model="billingRadio"
                                                                                   id="billingRadio"
                                                                                   aria-label="Toggle ngShow">Other
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6" colspan="2">
                                        <div class="billing-address animate-show-hide-" ng-show="billingRadio"
                                             style="display: inline-block;">
                                            <input type="text" id="regiForm-other-talent"
                                                   ng-model="otherTalent" placeholder="Kindly mention here"
                                                   class="sm-form-control form-control"
                                                   ng-blur="othertalentsSelection()"></div>
                                    </div>
                                </div>
                                <p id="talentsError" class="help-block">Please select one of these options.</p>
                                <input type="hidden" name="child.talents" id="child-talents" required>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : regiForm.uploadChildImage.$invalid && !regiForm.uploadChildImage.$pristine }"
                                 style="margin-top: -10px">
                                <label for="regiForm-upload-child-image">Upload Image <span
                                    style="color:black;">(CHILD)*</span></label>
                                <input type="file" id="regiForm-upload-child-image" name="child.profilePic"
                                       ng-model="regiData.uploadMomImage" class="sm-form-control form-control"
                                       required/>
                                <p ng-show="regiForm.uploadChildImage.$invalid && !regiForm.uploadChildImage.$pristine"
                                   class="help-block">Image required.</p>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4 col-xs-4 nopadding">
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <!--<input type="submit" id="submitRegi" value="submit">-->
                                <input type="hidden" id="usersBrandId" name="usersBrandId"
                                       value="f011ce3ed7c84d3d959ba485066aef59"/>
                                <button value="submit" id="placeOrder" class="button button-3d notopmargin fright">
                                    SUBMIT <i class="fa fa-spinner fa-spin fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- .postcontent end -->
        </div><!-- .sidebar end -->
        <!-- /Contact us -->
    </div>
</section><!-- #content end -->

<script>
  $(document).ready(function () {
    $("#regiForm").submit(function (event) {
      if ($('.regi-form-table.required :checkbox:checked').length <= 0) {
        console.log($('.regi-form-table.required :checkbox:checked').length);
        $('#talentsError').fadeIn('slow');
        return false;
      } else {
        //disable the default form submission
        event.preventDefault();

        $('#placeOrder i').fadeIn();
        $('#placeOrder').attr('disabled', 'disabled');

        //grab all form data
        var formData = new FormData($(this)[0]);
        setTimeout(function () {
          $.ajax({
            url: api_base_url + 'api/campaign/signup.do',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
              console.log(data);
              console.log(domain_name + data);
              window.location.href = domain_name + data;
            },
            error: function (data) {
              console.log(domain_name + data['responseText']);
              window.location.href = domain_name + data['responseText'];
            }
          });
          return false;
        }, 2000);
      }
    });
  });
</script>