<!-- Login Modal -->
<div id="loginModal" class="modal fade modal-custom" role="dialog" ng-controller="LoginMainController">
    <!-- Login Screen -->
    <div class="modal-dialog modal-lg modal-screen active" id="loginScreen">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="block divcenter" style="background-color: #FFF; max-width: 700px;">
                    <div class="row nomargin clearfix">
                        <!--<div class="col-sm-6 block-left"-->
                        <!--style="background-image: url(http://placehold.it/350x500); background-size: cover;"></div>-->
                        <div class="col-xs-12 block-right col-padding">
                            <!-- Login First Screen -->
                            <div class="login-first-screen login-screen active">
                                <h4 class="uppercase ls1">LOGIN / SIGNUP</h4>
                                <p>Please submit atleast one of the details to login</p>
                                <form novalidate class="clearfix" style="max-width: 300px;" id="loginFirstForm"
                                      name="loginFirstForm"
                                      ng-submit="loginFirstSubmit()">
                                    <div class="col_full">
                                        <!--<label for="loginMobile" class="capitalize t600">Mobile No.</label>-->
                                        <select id="loginPcode" class="pcode" name="loginPcode" style="width:90px;">
                                            <option ng-repeat="x in pinCode | orderBy:'countryName'"
                                                    value="{{x.countryCode}}" ng-selected="x.countryCode === '+91'">
                                                {{x.countryName}}({{x.countryCode}})
                                            </option>
                                        </select>
                                        <span class="pipe">|</span>
                                        <input type="text" id="loginMobile" name="loginMobile"
                                               class="sm-form-control input-phone"
                                               placeholder="Mobile No." ng-pattern="phoneNumbr" ng-model="phoneno"/>
                                        <span class="error" ng-show="loginFirstForm.loginMobile.$error.pattern">Mobile no. should be 10 digit.</span>
                                    </div>
                                    <div class="col_full text-center">
                                        OR
                                    </div>
                                    <div class="col_full">
                                        <!--<label for="loginEmail" class="capitalize t600">Email ID</label>-->
                                        <input type="email" id="loginEmail" name="loginEmail" class="sm-form-control"
                                               placeholder="Email ID" ng-pattern="emailValid"
                                               ng-model="loginData.email"/>
                                        <span class="error" ng-show="loginFirstForm.loginEmail.$error.pattern">Enter a valid email id.</span>
                                    </div>
                                    <h4 class="login-validation-msg">{{errorMsg}}</h4>
                                    <div class="col_full nobottommargin">
                                        <button class="button button-3d button-black nomargin" type="submit"
                                                id="login-first-submit"
                                                name="login-first-submit" value="login-first-submit">
                                            Login / Signup
                                        </button>
                                        <!--<a class="fright" ng-click="openScreen('forgot','login')">Forgot Password?</a>-->
                                    </div>
                                </form>
                                <!--<div class="col_full nobottommargin center sign-up-btn-wrapper">-->
                                <!--Not a member yet? <a ng-click="openScreen('signup','login')" class="sign-up-btn">SIGN-->
                                <!--UP</a>-->
                                <!--</div>-->
                                <!--<div class="center">-->
                                <!--<a class="button button-rounded si-facebook si-colored">Login with-->
                                <!--Facebook</a>-->
                                <!--</div>-->
                            </div>
                            <!-- /Login First Screen -->

                            <!-- Login Second Screen -->
                            <div class="login-second-screen login-screen">
                                <h4 class="uppercase ls1">
                                    <i ng-click="loginFirstScreen()" class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Select Profile
                                </h4>
                                <h4 class="valid-msg validation-msg">{{errorMsg}}</h4>
                                <form novalidate class="clearfix" id="loginSecondForm"
                                      name="loginSecondForm"
                                      ng-submit="loginSecondSubmit()">
                                    <div class="profile-list">
                                        <!-- Profile Block -->
                                        <div class="profile-block"
                                             ng-repeat="userDetails in loginFirstResponse track by $index">
                                            <div class="media" ng-click="openPassword($event,userDetails.userId)">
                                                <div class="media-left">
                                                    <i class="fa fa-user-circle fa-3" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading" ng-bind="userDetails.fullName"></h4>
                                                    <p ng-bind="userDetails.memberCode"></p>
                                                    <p><span ng-bind="userDetails.gender"></span>, <span
                                                        ng-bind="userDetails.city"></span></p>
                                                </div>
                                            </div>
                                            <div class="login-pwd-block" ng-class="$index == 0 ? 'active' : ''">
                                                <input type="hidden" id="userId-{{userDetails.userId}}" name="userId"
                                                       value="{{userDetails.userId}}">
                                                <input type="password" name="password"
                                                       id="userPwd-{{userDetails.userId}}" class="form-control"
                                                       placeholder="Password">
                                                <!--<span class="forgot-pwd" ng-click="openScreen('forgot','login')">forgot password.?</span>-->
                                                <span class="forgot-pwd" ng-click="forgotPassword(userDetails.userId)">Generate password.?</span>

                                                <!--<input id="email" name="email" type="hidden"-->
                                                <!--value="karwashyam@gmail.com">-->
                                                <!--<input id="phoneno" name="phoneno" type="hidden" value="">-->
                                                <!--<input id="memberCode" name="memberCode" type="hidden" value=".-.">-->
                                                <!--<input id="country" name="country" type="hidden" value="+91">-->
                                            </div>
                                        </div>
                                        <!-- /Profile Block -->
                                    </div>
                                    <div class="submit-wrapper">
                                        <button class="button button-rounded" type="submit" id="loginsecondSubmit"
                                                name="login-second-submit" value="login-second-submit">
                                            SUBMIT <i class="fa fa-spinner fa-pulse loader login-2-loader"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- /Login Second Screen -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Login Screen -->

    <!-- Signup Screen -->
    <div class="modal-dialog modal-lg modal-screen" id="signupScreen">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="block divcenter" style="background-color: #FFF; max-width: 700px;">
                    <div class="row nomargin clearfix">
                        <!--<div class="col-sm-6 block-left"-->
                        <!--style="background-image: url(http://placehold.it/350x500); background-size: cover;"></div>-->
                        <div class="col-xs-12 block-right col-padding">
                            <div>
                                <h4 class="uppercase ls1">Sign Up</h4>
                                <!--<p>Please submit atleast one of the details to login</p>-->
                                <form novalidate class="clearfix" id="signupForm" name="signupForm"
                                      ng-submit="signupSubmit(signupForm.$valid)"
                                      style="max-width: 300px;margin-bottom: 10px;">
                                    <div class="col_full">
                                        <div class="form-group"
                                             ng-class="{ 'has-error' : signupForm.fullName.$invalid && !signupForm.fullName.$pristine}">
                                            <input type="text" id="signupName" name="fullName" class="sm-form-control"
                                                   placeholder="Full Name*" ng-model="signupData.fullName" required/>
                                            <p ng-show="signupForm.fullName.$invalid && !signupForm.fullName.$pristine"
                                               class="help-block">Your name is required.</p>
                                        </div>
                                    </div>
                                    <div class="col_full">
                                        <div class="form-group"
                                             ng-class="{ 'has-error' : signupForm.signupEmail.$invalid && !signupForm.signupEmail.$pristine}">
                                            <input type="email" id="signupEmail" name="signupEmail"
                                                   class="sm-form-control"
                                                   placeholder="Email Address*" ng-pattern="emailValid"
                                                   ng-model="signupData.email" required/>
                                            <!--<span class="error" ng-show="">Enter a valid email id.</span>-->
                                            <p ng-show="signupForm.signupEmail.$error.pattern || signupForm.signupEmail.$invalid && !signupForm.signupEmail.$pristine"
                                               class="help-block">Enter a valid email</p>
                                        </div>
                                    </div>
                                    <div class="col_full">
                                        <div class="form-group"
                                             ng-class="{ 'has-error' : signupForm.signupPhone.$invalid && !signupForm.signupPhone.$pristine}">
                                            <select id="signupPcode" name="signupPcode" class="pcode"
                                                    style="width:90px;">
                                                <option ng-repeat="x in pinCode | orderBy:'countryName'"
                                                        value="{{x.countryCode}}" ng-selected="x.countryCode === '+91'">
                                                    {{x.countryName}}({{x.countryCode}})
                                                </option>
                                            </select>
                                            <span class="pipe">|</span>
                                            <input type="text" id="signupPhone" name="signupPhone"
                                                   class="sm-form-control input-phone"
                                                   placeholder="Mobile No.*" ng-pattern="phoneNumbr" ng-model="phoneno" required />
                                            <p ng-show="signupForm.signupPhone.$error.pattern || signupForm.signupPhone.$invalid && !signupForm.signupPhone.$pristine"
                                               class="help-block">Enter a valid Mobile no.</p>
                                        </div>
                                    </div>
                                    <div class="col_full">
                                        <div id="date" class="input-append" datetimez ng-model="signupData.dob">
                                            <input class="sm-form-control form-control" data-format="dd/MM/yyyy"
                                                   type="text" id="signupDob" name="signupDob"
                                                   placeholder="Date of Birth" required/>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col_full">
                                        <input type="text" id="signupCity" name="city" class="sm-form-control"
                                               placeholder="City" ng-model="signupData.city"/>
                                    </div>
                                    <div class="col_full">
                                        <input type="text" id="signupCountry" name="country" class="sm-form-control"
                                               placeholder="Country" ng-model="signupData.country"/>
                                    </div>
                                    <div class="col_full">
                                        <input type="password" id="signupPwd" name="password" class="sm-form-control"
                                               placeholder="Password" ng-model="signupData.password"/>
                                    </div>
                                    <div class="col_full nobottommargin text-center">
                                        <button class="button button-3d button-black nomargin" type="submit"
                                                id="signup-form-submit"
                                                name="signup-form-submit" value="signup" ng-disabled="signupForm.$invalid">Save & Continue
                                            <i class="fa fa-spinner fa-pulse loader signup-loader"></i>
                                        </button>
                                    </div>
                                </form>
                                <div class="col_full nobottommargin center sign-up-btn-wrapper">
                                    Already a member yet? <a ng-click="openScreen('login','signup')"
                                                             class="sign-up-btn">LOGIN</a>
                                </div>
                                <!--<div class="center">-->
                                <!--<a ng-click="openScreen('login','signup')"-->
                                <!--class="button button-rounded si-login si-colored">Login</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Signup Screen -->

    <!-- Forgot Screen -->
    <div class="modal-dialog modal-lg modal-screen" id="forgotScreen">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="block divcenter" style="background-color: #FFF; max-width: 700px;">
                    <div class="row nomargin clearfix">
                        <!--<div class="col-sm-6 block-left"-->
                        <!--style="background-image: url(http://placehold.it/350x456); background-size: cover;"></div>-->
                        <div class="col-xs-12 block-right col-padding" data-height-lg="456" data-height-md="456"
                             data-height-sm="456"
                             data-height-xs="456" data-height-xxs="456">
                            <div>
                                <h4 class="uppercase ls1">FORGOT PASSWORD.?</h4>
                                <p>Please enter your email address or phone number to search for your account.</p>
                                <form action="#" class="clearfix" style="max-width: 300px;">
                                    <div class="col_full">
                                        <!--<label for="loginMobile" class="capitalize t600">Mobile No.</label>-->
                                        <input type="text" id="forgotField" name="forgotField" class="sm-form-control"
                                               placeholder="Email Address or Mobile No."/>
                                    </div>
                                    <div class="col_full nobottommargin">
                                        <button class="button button-3d button-black nomargin" id="forgot-form-submit"
                                                name="forgot-form-submit" value="submit-forgot">SUBMIT
                                        </button>
                                    </div>
                                </form>
                                <div class="col_full nobottommargin center sign-up-btn-wrapper">
                                    Not a member yet? <a ng-click="openScreen('signup','forgot')" class="sign-up-btn">SIGN
                                    UP</a>
                                </div>

                                <!--<div class="center">-->
                                <!--<a href="#" class="button button-rounded si-facebook si-colored">Login with-->
                                <!--Facebook</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Forgot Screen -->
</div>