<section id="content" class="checkout-wrapper m-mt-0">
    <section id="page-title">
        <div class="container clearfix">
            <h1>Privacy & Policy</h1>
        </div>
    </section><!-- #page-title end -->

    <div class="content-wrap" style="padding-top: 30px;">
        <div class="container clearfix">
            <div class="abt-box1">
                <div class="col-sm-12 col-xs-12 wow fadeInRight">
                    <p>We are Gunu Sahni from, Mumbai, Maharashtra, India - 400060. In this
                        Privacy Policy, references to "you" mean any person submitting any data to us or our agent or
                        the Site.</p>
                    <p>If you have any comments or suggestions, we would be pleased to receive them by emailing us at
                        info@gunusahni.com</p>
                    <p>Data protection is a matter of trust and your privacy is important to us. We shall therefore only
                        use your name and other information which relates to you in the manner set out in this Privacy
                        Policy. We will only collect information where it is necessary for us to do so and we will only
                        collect information if it is relevant to our dealings with you.</p>
                    <p>We will only keep your information for as long as we are either required to by law or as is
                        relevant for the purposes for which it was collected.</p>
                    <p>You can visit the Site and browse without having to provide personal details. During your visit
                        to the Site you remain anonymous and at no time can we identify you unless you have an account
                        on the Site and log on with your username and password.</p>
                    <br>
                    <h4>Data that we collect</h4>
                    <p>We may collect various information if you seek to place an order for a product or use a service
                        on the Site.</p>
                    <p>We collect, store and process your data for providing a service on the Site. We may collect your
                        title, name, gender, date of birth, email address, postal address, delivery address (if
                        different), telephone number, mobile number. We may additionally collect information about your
                        personal preferences and body measurements. We need this information in order to allow you to go
                        ahead and use services provided by our website. We may use that data to process payment for the
                        product and deliver the product to you. We also use that data to inform you when the product is
                        about to be delivered.</p>
                    <p>We may pass your name and address on to a third party in order to make delivery of the product to
                        you (for example to our courier or supplier).</p>
                    <p>We may also use your data in order to manage the Site, collect payment from you, enable you to
                        subsequently use parts of the Site, detect any fraud or Site abuses, send you information
                        relevant to the Site or our products, and in case we have any queries. Payments that you make
                        through the Site will be processed by our company Gunu Sahni , a company
                        registered in India.</p>
                    <p>You must only submit to us or our agent or the Site information which is accurate and not
                        misleading and you must keep it up to date and inform us of changes.</p>
                    <p>You undertake to treat the personal access data confidentially and not make it available to
                        unauthorized third parties. We cannot assume any liability for misuse of passwords unless this
                        misuse is our fault.</p>
                    <p>We shall not share any of your personal information with third parties without your explicit
                        consent. We do not sell or rent your personal information to third parties for their marketing
                        purposes without your explicit consent and we only use your information as described in the
                        Privacy Policy. We view protection of your privacy as a very important community principle. We
                        understand clearly that you and Your Information is one of our most important assets. We store
                        and process Your Information on computers located in the India that are protected by physical as
                        well as technological security devices. We use third parties to verify and certify our privacy
                        principles. If you object to your Information being transferred or used in this way, please do
                        not use the site.</p>
                    <p>Under no circumstances do we rent, trade or share your personal information that we have
                        collected with any other company for their marketing purposes without your consent. We reserve
                        the right to communicate your personal information to any third party that makes a
                        legally-compliant request for its disclosure.</p>
                    <br>
                    <h4>Other uses of your personal information</h4>
                    <p>We may also send you other information about us, the Site, our other websites, our products,
                        sales promotions, our newsletters, SMS updates, anything relating to other companies in our
                        group or our business partners. If you would prefer not to receive any of this additional
                        information as detailed in this paragraph (or any part of it) please click the unsubscribe link in any email that we send to you or follow the unsubscription process as detailed in the
                        SMS. Kindly note that unsubscribing from one medium does not automatically lead to
                        unsubscription from the other. Within 7 working days (days which are neither (i) a Saturday or
                        Sunday, nor (ii) a public holiday anywhere in India) of receipt of your instruction we will
                        cease to send you information as requested. If your instruction is unclear we will contact you
                        for clarification.</p>
                    <br>
                    <h4>Competitions</h4>
                    <p>For any competition we use the data to notify winners and advertise our offers. You can find more
                        details where applicable in our participation terms for the respective competition.</p>
                    <br>
                    <h4>Third Parties and Links</h4>
                    <p>We may pass your details to other companies in our group. We may also pass your details to our
                        agents and subcontractors to help us with any of our uses of your data set out in our Privacy
                        Policy. For example, we may use third parties to assist us with delivering products to you, to
                        help us to collect payments from you, to analyze data and to provide us with marketing or
                        customer service assistance. We may exchange information with third parties for the purposes of
                        fraud protection and credit risk reduction. We may transfer our databases containing your
                        personal information if we sell our business or part of it. Other than as set out in this
                        Privacy Policy, we shall NOT sell or disclose your personal data to third parties without
                        obtaining your prior consent unless this is necessary for the purposes set out in this Privacy
                        Policy or unless we are required to do so by law. The Site may contain advertising of third
                        parties and links to other sites or frames of other sites. Please be aware that we are not
                        responsible for the privacy practices or content of those third parties or other sites, nor for
                        any third party to whom we transfer your data in accordance with our Privacy Policy.</p>
                    <br>
                    <h4>Security</h4>
                    <p>We have in place appropriate technical and security measures to prevent unauthorised or unlawful
                        access to or accidental loss of or destruction or damage to your information. When we collect
                        data through the Site, we collect your personal details on a secure server. We use firewalls on
                        our servers. When we collect payment card details electronically, we use encryption by using
                        Secure Socket Layer (SSL) coding. Whilst we are unable to guarantee 100% security, this makes it
                        hard for a hacker to decrypt your details. You are strongly recommended not to send full credit
                        or debit card details in unencrypted electronic communications with us. We maintain physical,
                        electronic and procedural safeguards in connection with the collection, storage and disclosure
                        of your information. Our security procedures mean that we may occasionally request proof of
                        identity before we disclose personal information to you. You are responsible for protecting
                        against unauthorised access to your password and to your computer.</p>
                    <br>
                    <h4>Consent</h4>
                    <p>By submitting data to us or our agent or using the Site, you consent to our use of your data in
                        the manner set out in this Privacy Policy.</p>
                    <br>
                    <h4>Copyright</h4>
                    <p>We have copyright over this Privacy Policy. Use by third parties, even by way of extract, for
                        commercial purposes is not allowed. Infringements may be subject to legal action.</p>
                    <p>This Privacy Policy can change at any time to include / exclude clauses and Gunu Sahni
                        does not bear responsibility for updating Users on the same.</p>
                    <br>
                    <h4>Grievance Officer:</h4>
                    <p>In accordance with Information Technology Act 2000 and rules made there under, the name and
                        contact details of the Grievance Officer are provided below:</p>
                    <br>
                    <p>Mr. Abhishek Agarwal </p>
                    <address>
                        B-1101, Oberoi Splendor,<br>
                        JVLR, Andheri East,<br>
                        Mumbai - 400060<br>
                        Maharsahtra<br>
                        India
                    </address>
                    <abbr>
                        Phone: +91-22-41205218<br>
                        Email: info@purplestylelabs.com<br>
                        Time: Mon - Sat (9:00 - 18:00)
                    </abbr>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->