<section id="content" class="checkout-wrapper m-mt-0">
    <section id="page-title">
        <div class="container clearfix">
            <h1>Terms and Condition</h1>
        </div>
    </section><!-- #page-title end -->

    <div class="content-wrap" style="padding-top: 30px;">
        <div class="container clearfix">
            <div class="abt-box1">
                <div class="col-sm-12 col-xs-12 wow fadeInRight">
                    <p>1) All applicants must be in the age range of 4 years 0 months to 10 years 0 months at the time of application</br>
                        2) All applicants must compulsarily be residents of Delhi NCR</br>
                        3) The verdict by the judges will be final and will not be subject to discussion and dissection</br>
                        4) All participants must be escorted by a parent/legan guardian at all times.</br>
                        5) All personal belongings must be carefully handled and attended to by their respective owners. Any occurence of loss or misfortune, in any manner, is not the company/organizers responsibility.</br>
                        6) All participants will conduct themselves in a courteous, profession manner at all times during the talent hunt and fashion show.</br>
                        7) Participants will acknowledge that there are risks associated with this event including but not limited to personal injury, lisk of loss or damage to personal property. Contestants voluntarily enter the contest and in doing so assume all of the risks.</br></p>
                    <h4>Disclaimer:</h4>
                    <p>I have read and I agree to all the  terms & conditions and give permission for my child to audition and participate in the Mom N Me Grand Fashion Show and Talent Hunt
                    </p>
                    <br>

                    <p>Mr. Abhishek Agarwal </p>
                    <address>
                        B-1101, Oberoi Splendor,<br>
                        JVLR, Andheri East,<br>
                        Mumbai - 400060<br>
                        Maharsahtra<br>
                        India
                    </address>
                    <abbr>
                        Phone: +91-22-41205218<br>
                        Email: info@purplestylelabs.com<br>
                        Time: Mon - Sat (9:00 - 18:00)
                    </abbr>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->