<script>
//  loadFB(facebookInit); // load FB scripts, then call facebookInit
//
//  function facebookInit() {
////    FB.init({appId: '690916471032836', cookie: true, xfbml: true, oauth: true});
//    FB.init({appId: '448864595472937', cookie: true, xfbml: true, oauth: true});
//  }
//
//  function loadFB(cb) { // loads FB script asynchronously
//    var script = document.createElement('script');
//    script.async = true;
//    script.src = '//connect.facebook.net/en_US/all.js';
//    script.onload = cb;
//    document.head.appendChild(script);
//  }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '690916471032836',
        xfbml      : true,
        version    : 'v2.9'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>



<div id="thankyouModal" style="padding-bottom: 70px;">
    <div class="content-wrap">
        <div class="container clearfix" style="min-height: 400px;">
            <!-- Modal content-->
            <div class="modal-content" style="padding-bottom: 30px;padding-top: 40px;">
                <div class="modal-body">
                    <div class="block divcenter checkout-wrapper" style="background-color: #FFF; max-width: 700px;">
                        <div class="content">
                            <h4 style="margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 170%;">Thank you for registering!</h4>
                            <p style="text-align:center"> We know that fashionable children aren't just good at cat
                                walks,</p>
                            <p style="text-align:center;margin-top: -20px;"> they have a personality that can rock any
                                stage!</p>
                            <p style="text-align:center;margin-top: -20px;"> So spread the word and help your child
                                participate in an event</p>
                            <p style="text-align:center;margin-top: -20px;"> that aims at harnessing their inner
                                potential while they strut,</p>
                            <p style="text-align:center;margin-top: -20px;"> waddle or even cart-wheel down the ramp
                                with you!</p>
                            <p style="text-align:center">To secure your little cutie a spot in this event, share this
                                post on your social media pages</p>
                            <p style="text-align:center;margin-top: -20px;"> and get people to vote! The process is
                                simple, 55 adorable children with the most votes will be finalised for this grand event!
                                So spread the word and seal a spot for your angel!</p>
                        </div>
                        <div class="image-image" style="text-align: center;">
                            <div class="image-img-link">
                                <img ng-if="kidData"
                                     ng-src="{{img_base_url}}{{kidData.kidPic[0]}}"
                                     alt="{{kidData.kidName}}">
                            </div>
                        </div>
                    </div>

                    <div class="share" style="text-align: center;margin-top: 50px;">
                        <!--<div class="fb-share-button" data-href="{{domain_name}}#vote/{{userID}}" data-layout="button"-->
                             <!--data-size="large" data-mobile-iframe="true">-->
                            <!--<a class="fb-xfbml-parse-ignore" target="_blank"-->
                               <!--href="https://www.facebook.com/sharer/sharer.php?u={{domain_name}}#vote/{{userID}}">Share</a>-->
                        <!--</div>-->
                        <button id="fb-publish" ng-click="shareOnFB(userID,kidData.kidName,kidData.kidPic[0])">Click here to share</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>