<!-- Checkout Modal -->
<div id="vote" style="padding-bottom: 70px;">
    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Modal content-->
            <div class="modal-content" style="padding-bottom: 20px;">
                <div class="modal-body">
                    <h4 style="margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 170%;
color:#da4795;">Mom & Me</h4>
                    <p style="text-align:center"> Rashmi Uppal's Fashion Show and Talent Hunt is here to revolutionize
                        the Indian fashion set-up for kids.</p>
                    <p style="text-align: center; margin-top: -9px;"> The aim of a glorious event of this stature is to
                        help kids showcase their innate awesomeness and to foster their creativity and development.</p>
                    <p style="text-align: center; margin-top: -9px;"> This platform is being created for the
                        identification and nurturing of individual identities of children with unmatchable
                        potential.</p>

                    <p style="text-align: center; margin-top: -9px;"> Also, it doesn't get much cuter than kids
                        strutting down the runway!

                        Vote for this cutie and show him/her your support by clicking on the 'VOTE NOW' button </p>
                    <p style="text-align: center; margin-top: -9px;">which will help him/her participate in an event
                        that not only helps in attitude building but also in the holistic personality development of the
                        children involved.</p>
                    </p></div>

                <div id="" class="image-3 clearfix">
                    <div class="image clearfix">
                        <div class="image-image" style="text-align: center;">
                            <div class="image-img-link">
                                <img ng-if="kidData"
                                     ng-src="{{img_base_url}}{{kidData.kidPic[0]}}"
                                     alt="{{kidData.kidName}}">
                            </div>
                        </div>
                        <div class="details" style="text-align:center;">
                            <div class="fetch">
                                <h4 ng-bind="kidData.kidName"></h4>
                            </div>
                            <div ng-show="voteSubmit">
                                <h5>Total Votes : <span ng-bind="kidData.totalVotes"></span></h5>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <button class="button button-3d nomargin" type="button"
                                            name="vote" style="left: 0;display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #da4795;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);" id="voteSubmit" ng-click="voteSubmit=true;submitVote(kidData.userEmail,kidData.userId)">
                                        Vote
                                    </button>
                                </div>
                            </div>

                            <div class="contactRepsonse">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p ng-bind="voteResponse" class="ng-binding"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>