@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.collection .pagination .show-more-btn {
  border-radius: 3px;
  background-color: #47235c;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 25px;
  border: 2px solid #47235c; }

.collection .pagination .show-more-btn {
  border-radius: 3px;
  background-color: #47235c;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 25px;
  border: 2px solid #47235c; }

.modal-backdrop.in {
  opacity: 0.8; }

/*----- Scroll bar style -----*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #47235c; }

/* /scrollbar */
html, body {
  min-height: 100%; }

a,
button,
input {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

a {
  color: #3eaefa; }

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none; }

.no-gutter {
  margin-left: 0;
  margin-right: 0; }

/* Headers */
h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

p {
  font-size: 14px; }

a {
  color: #000; }

a:hover {
  opacity: 0.8;
  color: #000;
  text-decoration: none; }

/* font sizes */
.f-10 {
  font-size: 10px; }

.f-12 {
  font-size: 12px; }

.f-14 {
  font-size: 14px; }

.f-16 {
  font-size: 16px; }

.f-18 {
  font-size: 18px; }

.f-20 {
  font-size: 20px; }

.f-22 {
  font-size: 22px; }

.f-24 {
  font-size: 24px; }

.f-26 {
  font-size: 26px; }

.f-28 {
  font-size: 28px; }

.f-30 {
  font-size: 30px; }

.f-32 {
  font-size: 32px; }

.f-34 {
  font-size: 34px; }

.f-36 {
  font-size: 36px; }

.f-38 {
  font-size: 38px; }

.f-40 {
  font-size: 40px; }

.f-42 {
  font-size: 42px; }

.f-44 {
  font-size: 44px; }

.f-46 {
  font-size: 46px; }

.f-48 {
  font-size: 48px; }

.f-50 {
  font-size: 50px; }

/* padding top */
.pt-0 {
  padding-top: 0px; }

.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-35 {
  padding-top: 35px; }

.pt-40 {
  padding-top: 40px; }

.pt-45 {
  padding-top: 45px; }

.pt-50 {
  padding-top: 50px; }

/* padding bottom */
.pb-0 {
  padding-bottom: 0px; }

.pb-5 {
  padding-bottom: 5px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

/* padding left */
.pl-0 {
  padding-left: 0px; }

.pl-5 {
  padding-left: 5px; }

.pl-10 {
  padding-left: 10px; }

.pl-15 {
  padding-left: 15px; }

.pl-20 {
  padding-left: 20px; }

.pl-25 {
  padding-left: 25px; }

.pl-30 {
  padding-left: 30px; }

/* padding right */
.pr-0 {
  padding-right: 0px; }

.pr-5 {
  padding-right: 5px; }

.pr-10 {
  padding-right: 10px; }

.pr-15 {
  padding-right: 15px; }

.pr-20 {
  padding-right: 20px; }

.pr-25 {
  padding-right: 25px; }

.pr-30 {
  padding-right: 30px; }

/* padding a */
.pd-0 {
  padding: 0px; }

.pd-5 {
  padding: 5px; }

.pd-10 {
  padding: 10px; }

.pd-15 {
  padding: 15px; }

.pd-20 {
  padding: 20px; }

.pd-25 {
  padding: 25px; }

.pd-30 {
  padding: 30px; }

/* padding both */
.pd-both-0 {
  padding-left: 0px;
  padding-right: 0px; }

.pd-both-5 {
  padding-left: 5px;
  padding-right: 5px; }

.pd-both-10 {
  padding-left: 10px;
  padding-right: 10px; }

.pd-both-15 {
  padding-left: 15px;
  padding-right: 15px; }

.pd-both-20 {
  padding-left: 20px;
  padding-right: 20px; }

.pd-both-25 {
  padding-left: 25px;
  padding-right: 25px; }

.pd-both-30 {
  padding-left: 30px;
  padding-right: 30px; }

/* Margins */
/* margin top */
.mt-0 {
  margin-top: 0px; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-0-i {
  margin-top: 0 !important; }

/* margin bottom */
.mb-0 {
  margin-bottom: 0px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-0-i {
  margin-bottom: 0px !important; }

.mb-20-i {
  margin-bottom: 20px !important; }

/* margin left */
.ml-0 {
  margin-left: 0px; }

.ml-5 {
  margin-left: 5px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-25 {
  margin-left: 25px; }

.ml-30 {
  margin-left: 30px; }

/* margin right */
.mr-0 {
  margin-right: 0px; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

.mr-35 {
  margin-right: 35px; }

.mr-40 {
  margin-right: 40px; }

/* margin */
.mg-0 {
  margin: 0px; }

.mg-5 {
  margin: 5px; }

.mg-10 {
  margin: 10px; }

.mg-15 {
  margin: 15px; }

.mg-20 {
  margin: 20px; }

.mg-25 {
  margin: 25px; }

.mg-30 {
  margin: 30px; }

/* margin auto */
.mg-auto {
  margin: auto; }

/* Z-index */
.zi-1 {
  z-index: 1; }

/* Height */
.ht-0 {
  height: 0px; }

.ht-5 {
  height: 5px; }

.ht-10 {
  height: 10px; }

.ht-15 {
  height: 15px; }

.ht-20 {
  height: 20px; }

.ht-25 {
  height: 25px; }

.ht-30 {
  height: 30px; }

/* Float */
.fl-none {
  float: none; }

.fl-left {
  float: left; }

.fl-right {
  float: right; }

/* Display */
.d-none {
  display: none; }

.d-block {
  display: block; }

.d-table {
  display: table; }

.d-ib {
  display: inline-block; }

.d-if {
  display: inline-flex; }

.d-fl {
  display: flex !important; }

.v-hidden {
  visibility: hidden; }

.v-show {
  visibility: visible; }

/* Text alignment */
.ta-center {
  text-align: center; }

.ta-right {
  text-align: right; }

.ta-left {
  text-align: left; }

/* Letter spacing */
.ls-3 {
  letter-spacing: 3px; }

/* Clear */
.clear {
  clear: both; }

.clear-l {
  clear: left; }

/* Custom classes */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.no-gutter {
  margin-left: 0;
  margin-right: 0; }

/* Cursor */
.cr-pt {
  cursor: pointer; }

.full-width {
  width: 100%; }

.full-width-i {
  width: 100% !important; }

.input-group input[type="focus"]:focus, .input-group input[type="password"]:focus, .input-group input[type="email"]:focus {
  outline: none; }

.disabled {
  opacity: 0.8; }

.black {
  background: #000 !important; }

.red {
  background: #F00 !important; }

.pink {
  background: pink !important; }

.orange {
  background: orange !important; }

.gray {
  background: gray !important; }

.blue {
  background: blue !important; }

/* Resonsive */
/*Layout for Mobile(lanscape)*/
/*Layout for Mobile(portrait)*/
/*Small Moblie Screen*/
input[type="radio"], input[type="checkbox"] {
  margin: 0px 0 0; }

button[disabled], html input[disabled] {
  opacity: 0.6; }
  button[disabled]:hover, html input[disabled]:hover {
    opacity: 0.6 !important; }

.revo-slider-emphasis-text {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 20px;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF; }

.revo-slider-desc-text {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  width: 650px;
  text-align: center;
  line-height: 1.5; }

.revo-slider-caps-text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif; }

.tp-video-play-button {
  display: none !important; }

.tp-caption {
  white-space: nowrap; }

.about-us {
  padding-top: 0;
  background: #fff; }

.collection {
  padding-bottom: 40px; }
  .collection .pagination {
    display: block;
    text-align: center;
    margin: 30px 0 20px; }
  .collection .product-desc {
    padding: 0 10px; }
    .collection .product-desc .product-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0; }

.product-details {
  margin-bottom: 40px; }
  .product-details .head p {
    color: #0075ba;
    font-weight: 600; }
  .product-details .product-brand .block {
    height: 80px;
    margin: 0 auto;
    overflow: hidden; }
    .product-details .product-brand .block img {
      position: absolute !important;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
  .product-details .product-name {
    color: #8D2F90;
    font-size: 24px;
    margin-bottom: 30px; }
  .product-details .product-design-code {
    color: #0075ba;
    margin-bottom: 8px;
    font-size: 16px; }
  .product-details .product-category {
    color: #9499a0;
    margin-bottom: 8px;
    font-size: 16px; }
  .product-details .product-category span {
    color: #000;
    font-size: 16px; }
  .product-details .pr-color .body .color-block {
    padding-left: 0; }
    .product-details .pr-color .body .color-block .fill {
      background: #000;
      height: 20px;
      cursor: pointer; }
  .product-details .select-size ul {
    margin-bottom: 0; }
  .product-details .select-size .block {
    padding-left: 0;
    list-style: none;
    width: 65px; }
    .product-details .select-size .block .size {
      text-align: center;
      font-size: 16px;
      border: 1px solid #000;
      border-radius: 9999px;
      cursor: pointer;
      padding: 0;
      min-width: 50px;
      height: 50px;
      align-items: flex-start;
      display: table-cell;
      vertical-align: middle; }

.sidebar .sidebar-widgets-wrap {
  margin-bottom: 25px; }
  .sidebar .sidebar-widgets-wrap ul li label {
    margin-left: 5px;
    font-size: 12px; }

.prod-loading {
  position: relative;
  clear: both;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 30px; }
  .prod-loading #listloading {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 25px);
    z-index: 9999; }
  .prod-loading .uil-ripple {
    position: absolute;
    left: calc(50% - 90px);
    top: calc(50% - 90px);
    opacity: .5;
    z-index: 999; }
  .prod-loading .ld-l {
    opacity: 0;
    animation: ld-in 3s 0.0s ease infinite; }
  .prod-loading .ld-o {
    opacity: 0;
    animation: ld-in 3s 0.1s ease infinite; }
  .prod-loading .ld-a {
    opacity: 0;
    animation: ld-in 3s 0.2s ease infinite; }
  .prod-loading .ld-d {
    opacity: 0;
    animation: ld-in 3s 0.3s ease infinite; }
  .prod-loading .ld-i {
    opacity: 0;
    animation: ld-in 3s 0.4s ease infinite; }
  .prod-loading .ld-n {
    opacity: 0;
    animation: ld-in 3s 0.5s ease infinite; }
  .prod-loading .ld-g {
    opacity: 0;
    animation: ld-in 3s 0.6s ease infinite; }
@keyframes ld-in {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 1;
    transform: scale(1); } }
#copyrights a {
  color: #8D2F90; }

.gender-wrapper label {
  margin-right: 15px; }
.gender-wrapper input {
  margin-right: 5px; }

#template-contactform .col-md-2, #template-contactform .col-md-4, #template-contactform .col-md-6, #template-contactform .col-md-12, #template-contactform .col-md-8, #template-contactform .col-md-5 {
  margin-bottom: 20px; }
  @media screen and (max-width: 991px) {
    #template-contactform .col-md-2, #template-contactform .col-md-4, #template-contactform .col-md-6, #template-contactform .col-md-12, #template-contactform .col-md-8, #template-contactform .col-md-5 {
      padding: 0; } }

#contact {
  margin-bottom: 30px; }
  #contact .or-wrapper {
    text-align: center;
    padding-top: 8px; }

#template-contactform .col-md-2, #template-contactform .col-md-4, #template-contactform .col-md-6, #template-contactform .col-md-12, #template-contactform .col-md-8, #template-contactform .col-md-5 {
  margin-bottom: 20px; }
  @media screen and (max-width: 991px) {
    #template-contactform .col-md-2, #template-contactform .col-md-4, #template-contactform .col-md-6, #template-contactform .col-md-12, #template-contactform .col-md-8, #template-contactform .col-md-5 {
      padding: 0; } }

#contact {
  margin-bottom: 30px; }
  #contact .or-wrapper {
    text-align: center;
    padding-top: 8px; }

.home-contact-us {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 10px; }

.slider-content {
  font-size: 60px;
  padding-top: 23%;
  text-align: center; }

.mt-0 {
  margin-top: 0 !important; }

.sidebar-widgets-wrap ul {
  padding-left: 10px; }

.contact-repsonse {
  clear: both;
  display: none; }
  .contact-repsonse p {
    background-color: #8D2F90;
    color: #fff;
    padding: 10px; }

#pcode {
  position: absolute;
  top: 40px;
  left: 24px;
  border: none;
  border-radius: 0;
  background: #fff; }

#contactform-phone {
  text-indent: 105px; }

.help-block {
  color: #f00; }

.pipe {
  position: absolute;
  top: 36px;
  left: 125px;
  font-size: 18px; }

#date, #childDate {
  position: relative; }
  #date .add-on, #childDate .add-on {
    position: absolute;
    right: 10px;
    top: 10px; }

.pluginSkinLight > div {
  text-align: center !important; }

#regiForm .block-left {
  width: 50%; }
  @media handheld, only screen and (max-width: 767px) {
    #regiForm .block-left {
      width: 100%; } }
#regiForm .block-right {
  float: right;
  width: 45%; }
  @media handheld, only screen and (max-width: 767px) {
    #regiForm .block-right {
      width: 100%; } }

.regi-form-table div {
  margin-bottom: 5px; }
  .regi-form-table div input {
    margin-right: 5px; }

#placeOrder i {
  display: none; }

@media handheld, only screen and (max-width: 767px) {
  #thankyouModal, #vote {
    padding-bottom: 40px !important;
    margin-top: 30px !important; } }
@media handheld, only screen and (max-width: 767px) {
  #thankyouModal .modal-content, #vote .modal-content {
    padding-bottom: 30px !important;
    padding-top: 20px !important; } }
#thankyouModal .modal-body h4, #vote .modal-body h4 {
  margin-top: 10px !important; }

.image-img-link img {
  max-width: 300px;
  margin-bottom: 0; }

.details .fetch {
  margin-top: 25px;
  margin-bottom: 10px; }
  .details .fetch h4 {
    margin-bottom: 0; }
  .details .fetch h5 {
    margin-top: 10px; }

#talentsError {
  clear: both;
  display: none; }

#fb-publish {
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 10px; }

@media handheld, only screen and (max-width: 767px) {
  .tp-banner-container, #slider, .tp-simpleresponsive img {
    height: 250px !important; }

  .tparrows {
    top: 39% !important;
    width: 30px !important;
    height: 30px !important;
    background: transparent !important; }

  #primary-menu-trigger {
    background: transparent; }
    #primary-menu-trigger i {
      font-size: 28px;
      color: #717171; }

  #header.transparent-header.full-header #header-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    background: white;
    height: auto !important; }

  #header, #header-wrap, #logo img, #primary-menu:not(.style-2), #primary-menu:not(.style-2) > ul {
    height: 95px; }

  .uk-slidenav-position {
    max-height: 230px; }

  .slider-content {
    font-size: 26px;
    padding-top: 22%; }

  .product {
    width: inherit;
    margin-bottom: 30px; }

  .widget {
    position: relative;
    margin-top: 20px; }

  .content-wrap {
    position: relative;
    padding: 0; }

  .section {
    padding: 60px 0 20px; }

  .uk-slideshow-fullscreen, .uk-slideshow-fullscreen > li {
    height: 230px !important;
    margin: auto; }

  .uk-position-cover {
    height: 230px; }

  .uk-slidenav-position .uk-slidenav-next {
    right: 0px; }

  .uk-slidenav-position .uk-slidenav-previous {
    left: 0px; } }
@media (max-width: 320px) {
  .container, #header.full-header .container, .container-fullwidth {
    width: 280px !important;
    padding: 0 !important; } }

/*# sourceMappingURL=style.css.map */
