@import "../base/base";

input[type="radio"], input[type="checkbox"] {
  margin: 0px 0 0;
}

button[disabled], html input[disabled] {
  opacity: 0.6;
  &:hover {
    opacity: 0.6 !important;
  }
}

.revo-slider-emphasis-text {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 20px;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  width: 650px;
  text-align: center;
  line-height: 1.5;
}

.revo-slider-caps-text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}

.tp-video-play-button {
  display: none !important;
}

.tp-caption {
  white-space: nowrap;
}

//About us Section Home page
.about-us {
  padding-top: 0;
  background: #fff;
}

//Collection Page
.collection {
  padding-bottom: 40px;
  .pagination {
    display: block;
    text-align: center;
    margin: 30px 0 20px;
    .show-more-btn {
      @extend %btn;
    }
  }
  .product-desc {
    padding: 0 10px;
    .product-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
    }
  }
}

///Product Page
.product-details {
  margin-bottom: 40px;
  .head {
    p {
      color: #0075ba;
      font-weight: 600;
    }
  }
  .product-brand {
    .block {
      height: 80px;
      margin: 0 auto;
      overflow: hidden;
      img {
        position: absolute !important;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .product-name {
    color: #8D2F90;
    font-size: 24px;
    margin-bottom: 30px;
    //margin-top: 20px;
  }
  .product-design-code {
    color: #0075ba;
    margin-bottom: 8px;
    font-size: 16px;
  }
  .product-category {
    color: #9499a0;
    margin-bottom: 8px;
    font-size: 16px;
  }
  .product-category span {
    color: #000;
    font-size: 16px;
  }
  .pr-color {
    .body {
      .color-block {
        padding-left: 0;
        .fill {
          background: #000;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .select-size {
    ul {
      margin-bottom: 0;
    }
    .block {
      padding-left: 0;
      list-style: none;
      width: 65px;
      .size {
        text-align: center;
        font-size: 16px;
        border: 1px solid #000;
        border-radius: 9999px;
        cursor: pointer;
        padding: 0;
        min-width: 50px;
        height: 50px;
        align-items: flex-start;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

//sidebar
.sidebar {
  .sidebar-widgets-wrap {
    margin-bottom: 25px;
    ul {
      li {
        label {
          margin-left: 5px;
          font-size: 12px;
        }
      }
    }
  }
}

.prod-loading {
  position: relative;
  clear: both;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 30px;
  #listloading {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 25px);
    z-index: 9999
  }
  .uil-ripple {
    position: absolute;
    left: calc(50% - 90px);
    top: calc(50% - 90px);
    opacity: .5;
    z-index: 999
  }

  .ld-l {
    opacity: 0;
    animation: ld-in 3s 0.0s ease infinite;
  }
  .ld-o {
    opacity: 0;
    animation: ld-in 3s 0.1s ease infinite;
  }
  .ld-a {
    opacity: 0;
    animation: ld-in 3s 0.2s ease infinite;
  }
  .ld-d {
    opacity: 0;
    animation: ld-in 3s 0.3s ease infinite;
  }
  .ld-i {
    opacity: 0;
    animation: ld-in 3s 0.4s ease infinite;
  }
  .ld-n {
    opacity: 0;
    animation: ld-in 3s 0.5s ease infinite;
  }
  .ld-g {
    opacity: 0;
    animation: ld-in 3s 0.6s ease infinite;
  }

  @keyframes ld-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    30% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

#copyrights {
  a {
    color: #8D2F90;
  }
}

.gender-wrapper {
  label {
    margin-right: 15px;
  }
  input {
    margin-right: 5px;
  }
}

#template-contactform {
  .col-md-2, .col-md-4, .col-md-6, .col-md-12, .col-md-8, .col-md-5 {
    margin-bottom: 20px;
    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }
}

#contact {
  margin-bottom: 30px;
  .or-wrapper {
    text-align: center;
    padding-top: 8px;
  }
}

#template-contactform {
  .col-md-2, .col-md-4, .col-md-6, .col-md-12, .col-md-8, .col-md-5 {
    margin-bottom: 20px;
    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }
}

#contact {
  margin-bottom: 30px;
  .or-wrapper {
    text-align: center;
    padding-top: 8px;
  }
}

.home-contact-us {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 10px;
}

.slider-content {
  font-size: 60px;
  padding-top: 23%;
  text-align: center;
}

.mt-0 {
  margin-top: 0 !important;
}

.sidebar-widgets-wrap {
  ul {
    padding-left: 10px;
  }
}

.contact-repsonse {
  clear: both;
  display: none;
  p {
    background-color: #8D2F90;
    color: #fff;
    padding: 10px;
  }
}

#pcode {
  position: absolute;
  top: 40px;
  left: 24px;
  border: none;
  //border-right: 1px solid #000;
  border-radius: 0;
  background: #fff;
}

#contactform-phone {
  text-indent: 105px;
}

.help-block {
  color: #f00;
}

.pipe {
  position: absolute;
  top: 36px;
  left: 125px;
  font-size: 18px;
}

#date, #childDate {
  position: relative;
  .add-on {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.pluginSkinLight > div {
  text-align: center !important;
}

#regiForm {
  .block-left {
    width: 50%;
    @media handheld, only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .block-right {
    float: right;
    width: 45%;
    @media handheld, only screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.regi-form-table {
  div {
    margin-bottom: 5px;
    input {
      margin-right: 5px;
    }
  }
}

#placeOrder {
  i {
    display: none;
  }
}

#thankyouModal, #vote {
  @media handheld, only screen and (max-width: 767px) {
    padding-bottom: 40px !important;
    margin-top: 30px !important;
  }
  .modal-content {
    @media handheld, only screen and (max-width: 767px) {
      padding-bottom: 30px !important;
      padding-top: 20px !important;
    }
  }
  .modal-body {
    h4 {
      margin-top: 10px !important;
    }
  }
}

.image-img-link {
  img {
    max-width: 300px;
    //max-height: 300px;
    margin-bottom: 0;
  }
}

.details {
  .fetch {
    margin-top: 25px;
    margin-bottom: 10px;
    h4 {
      margin-bottom: 0;
    }
    h5 {
      margin-top: 10px;
    }
  }
}

#talentsError {
  clear: both;
  display: none;
}

#fb-publish {
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 10px;
}

@media handheld, only screen and (max-width: 767px) {
  .tp-banner-container, #slider, .tp-simpleresponsive img {
    height: 250px !important;
  }
  .tparrows {
    top: 39% !important;
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
  }
  #primary-menu-trigger {
    background: transparent;
    i {
      font-size: 28px;
      color: #717171;
    }
  }
  #header.transparent-header.full-header #header-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    height: auto !important;
  }
  #header, #header-wrap, #logo img, #primary-menu:not(.style-2), #primary-menu:not(.style-2) > ul {
    height: 95px;
  }
  .uk-slidenav-position {
    max-height: 230px;
  }
  .slider-content {
    font-size: 26px;
    padding-top: 22%;
  }
  .product {
    width: inherit;
    margin-bottom: 30px;
  }
  .widget {
    position: relative;
    margin-top: 20px;
  }
  .content-wrap {
    position: relative;
    padding: 0;
  }
  .section {
    padding: 60px 0 20px;
  }
  .uk-slideshow-fullscreen, .uk-slideshow-fullscreen > li {
    height: 230px !important;
    margin: auto;
  }
  .uk-position-cover {
    height: 230px;
  }
  .uk-slidenav-position .uk-slidenav-next {
    right: 0px;
  }
  .uk-slidenav-position .uk-slidenav-previous {
    left: 0px;
  }
}

@media (max-width: 320px) {
  .container, #header.full-header .container, .container-fullwidth {
    width: 280px !important;
    padding: 0 !important;
  }
}